body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.btn {
  background-color: coral;
  padding: 1em 2em;
  color: #333;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.btn:hover {
  background-color: #333;
  color: #ccc;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  /* totally optional */
  /* you can name the animation anything */

  animation-name: modal-open;
  animation-duration: 1s;
}

.modal-content {
  background-color: #f4f4f4;
  width: 70%;
  max-width: 750px;
  margin: 20% auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h3,
.modal-footer h5 {
  margin: 0;
}

.modal-header {
  background-color: coral;
  padding: 15px;
  color: white;
}

.modal-body {
  padding: 10px 15px;
}

.modal-footer {
  background-color: #ccc;
  padding: 10px 15px;
  color: #333;
  text-align: center;
}

.close-btn {
  color: #fff;
  float: right;
  position: relative;
  top: -8px;
  font-size: 30px;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

/* totally optional */
/* it's connected to the animation on .modal */

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
